*{
  margin: 0;
  padding: 0;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 200px;

}
.tarea{
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.true{
  text-decoration: line-through;
}
